*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;

}
body{
  color: white;
  background-image: url("../images/olav-tvedt--oVaYMgBMbs-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  a{
    text-decoration: none;
    color: white;
  }
}
